img{
    height: 150px;
}

body{
    background-image:url(https://cdn.mangatube.site/capa/solo-leveling-todos-os-capitulos-manga-tube.jpg); 
    background-size:150%;
}
  
nav,ul,p,li{
    color: aqua;
    display: inline;
    text-decoration: none;
    padding: 19px;
    font-size: 20px;
    margin-left: 30px;
}
.Pesquisa{
    margin-inline: 30mm;
}

#Titulo{
    color: rgb(15, 199, 92);
    font-size: 60px;
    align-items: 540px;
    margin-left: 35%;
}

h2{
    color: rgb(49, 191, 226);
}
button{
    color: rgb(7, 7, 7);
    border-radius: 30px;
}
.insta,button.insta:hover{
    background-image: linear-gradient(to right,blue, aqua);
}

.insta,button .insta{
    background-image: linear-gradient(to right,red, blue);
    width: 10%;
    border-radius: 40px;
    padding: 5px;
    color: rgb(0, 0, 0);
    border: 66px;
    align-items: center;
}

#logo{ 
    width: 100%; 
    height: 440px;
 }

input{
    background-color: rgb(49, 191, 226);
}
